@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    font-family: 'VT323', monospace;
    color: #D1CA89;
    background: #343A32;
    font-size: 1.5em;
}
/*começo pag inicial*/
.mainInicio {
    display: flex;
    justify-content: center;
}
.blocoCentral {
    background: #262626;
    width: 30%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
    padding: 30px;
    border-radius: 50px;
}
.legendaBotao {
    text-align: center;
}
/*fim pag inicial*/

/*comum aos dois*/
a {
    color: green;
    text-decoration: none;
    font-size: 30px;
    transition: 0.3s;
}
a:hover {
    color: #73b873;
    cursor: pointer;
}
/*comum aos dois*/

/*comeco personagens*/

.mainPersonagens {
    display: flex;
    justify-content: space-around;
    margin: 4%;
}
.blocoPersonagens {
    background: #262626;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    padding: 30px;
    border-radius: 50px;
}
.blocoPersonagens img {
    height: 80px;
}

/*fim personagens*/

/*comeco rodape*/
footer {
    text-align: center;
    background: #262626;
    position:absolute;
    bottom:0;
    height: 60px;
    width:100%;
    padding-top: 25px;
}
/*fim rodape*/

@media (max-width: 700px) {
    .mainInicio {
        height: 80%;
    }
    .blocoCentral {
        font-size: 17px;
        width: 75%;
        height: 450px;
        margin: 2px;
    }
    a:active {
        color: #73b873;
        cursor: pointer;
    }
    .mainPersonagens {
        flex-direction: column;
    }
    .blocoPersonagens {
        width: 80%;
        margin: 4px;
        text-align: center;
    }
    .footerPersonagens {
        position: relative;
    }
}