@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    font-family: 'VT323', monospace;
    color: #D1CA89;
    background: #343A32;
    font-size: 1.5em;
}
main {
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 2%;
}
.blocoCentral {
    background: #262626;
    width: 30%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
    padding: 30px;
    border-radius: 50px;
}
.legendaBotao {
    text-align: center;
}
.blocoCentral>a {
    color: green;
    text-decoration: none;
    font-size: 30px;
    transition: 0.3s;
}
.blocoCentral>a:hover {
    color: #73b873;
    cursor: pointer;
}
footer {
    text-align: center;
    background: #262626;
    position:absolute;
    bottom:0;
    height: 60px;
    width:100%;
    padding-top: 25px;
}
footer>a {
    color: green;
    text-decoration: none;
    transition: 0;
}
footer>a:hover {
    color: #73b873;
}