@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    font-family: 'VT323', monospace;
    color: #D1CA89;
    background: #343A32;
    font-size: 15px;
}
/*começo história*/
.mainInicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blocoHistoria {
    font-size: 1.8em;
    line-height: 1.2;
    background: #262626;
    max-width: 50%;   
    text-align: justify;
    padding: 50px;
    border-radius: 50px;
    margin-top: 10vh;
}
#citacao {
    color: green;
}
.botaoStart {
    display: flex;
    justify-content: center;
    margin: 10vh;
}
/*fim historia*/

/*comeco personagens*/

.tituloPersonagens {
    display: flex;
    justify-content: center;
}
h1 {
    margin-top: 10vh;
    font-size: 4em;
}

.mainPersonagens {
    display: flex;
    justify-content: space-around;
    margin: 4%;
}
.blocoPersonagens {
    background: #262626;
    font-size: 1.5em;
    width: 20vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: justify;
    padding: 35px;
    border-radius: 50px;
}
.blocoPersonagens img {
    height: 10vh;
}
.botaoEscolha {
    display: flex;
    justify-content: center;
    margin: 10vh;
}
button {
    border: none;
    color: green;
    border-radius: 15px;
    font-size: 2em;
    background: none;
    font-family: 'VT323', monospace;
}
button:hover {
    font-size: 2.3em;
    color: #D1CA89;
    cursor: pointer;
    transition: 0.3s;
}
/*fim personagens*/

/*comeco rodape*/
.footerPrincipal {
    position: absolute;
    bottom: 0;
}
footer {
    text-align: center;
    background: #262626;
    height: 60px;
    width:100%;
    padding-top: 25px;
    font-size: 1.8em;
    
}
a {
    color: green;
    text-decoration: none;
    font-size: 30px;
    transition: 0.3s;
}
a:hover {
    color: #73b873;
    cursor: pointer;
}
/*fim rodape*/
